WORKER_URL_1=
WORKER_URL_2=
WORKER_URL_3=
WORKER_URL_4=
WORKER_URL_5=

MAX_THREADS=5
CHUNK_SIZE=100
REQUEST_TIMEOUT=15

START_INTERVAL=1.00
MIN_INTERVAL=0.95
MAX_INTERVAL=2.00

LOW_COOLDOWN=60
MEDIUM_COOLDOWN=300
HIGH_COOLDOWN=420

PRODUCTS_PER_FILE=1000
